.App {
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.nav p {
  flex: 3;
  text-align: left;
  margin: 15px;
  font-size: large;
}

.link {
  flex: 1;
  margin: auto 15px;
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
}

.link:hover {
  color: orange;
  
}

.link:active {
  transform: scale(1.15);
}
